.container-filter{
    display: block;
    background-color:#f9f9f9;
    padding:10px;
    text-align: right;
}

.container-filter > .tezza-area,
.container-filter > .tezza-search{
    display: inline-block;
}

.pagination{
    width: 100%;
}

.pagination-list {
    float:left;
    list-style: none;
    margin-top:25px;
}

.pagination-list li{
    display: inline-block;
    line-height: 27px;
    text-align: center;
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    border-radius: 3px;
}

.pagination-list li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.pagination-list li a:hover{
    background: #dedede;
    color:gray;
}

.form .buttons{
    text-align: right;
}

.form .fields .control-group > *{
    width:80%;
}

.form .tezza_observation{
    width: 90%;
    height: 60px;
}

.form .fields:after{
    content:"";
    display: block;
    clear:both;

    padding-top:15px;
    margin-bottom:15px;
    border-bottom: 1px solid #ccc;
}

.form .fields .control-group{
    width:50%;
    float: left;
}

.form .msg-approval{
    text-transform: uppercase;
    background-color:green;
    color:white;
    padding:6px 12px;
    text-align: center;
    font-weight: bold;
    font-size:20px;
}

.form .msg-approval.uncheck{
    background-color:#b71027;
}


.form .meta-group{
    width:100%;
    clear: both;
    float:none;
}

.ico-approval.fa-check-square{
    color:green;
}

.ico-approval.fa-window-close{
    color:#b71027;
}

.alert{
    display: block;
    width:100%;
    color:white;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

#enviado,
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#enviado p{
    font-weight: 500;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}


/* Formulario de Vacaciones */

.frm-tezza {
    border: 1px solid #ccc;
    box-shadow: #ccc 0 0 2px;
    margin-bottom: 40px;
    background:white;
}

.frm-tezza .bfPage > section,
.frm-tezza .bfPage > fieldset{
    padding:16px;
}

.frm-tezza .form-actions{
    border-top:0;
    margin-bottom: 0;
}

.frm-tezza legend{
    font-size:16px;
}

.frm-tezza input[readonly]{
    background-color:white!important;
    border:none;
    box-shadow: none;
}

#cabecera{
    padding-top:0;
    padding-bottom:0;
}

#cabecera input{
    text-align: right;
    font-weight: 400;
    width:100%;
    max-width: 100%!important;
}

#tituloformulario h3{
    padding:12px;
    text-align: center;
    line-height: 32px;
}

#imagelogo{
    width:30%;
}

#imagelogo p{
    padding: 10px;
    margin:0;
}

#tituloformulario{
    width:70%;
    padding:6px;
    margin:0;
}

#datospersonales{
    padding-top:0;
    padding-bottom: 0;
}

#tipodescanso{
    padding-top:0;
}

#tipodescanso label.radio:first-child{
    margin-right: 32px;
}

#datospersonales .row-fluid{
    padding-top:6px;
}

#datosarea{
    padding-top:0;
}

#datosarea input[readonly],
#datospersonales input[readonly]{
    max-width: 70%;
    float: right;
}

#datosarea label,
#datospersonales label{
    width:20%;
    display: inline-block;
}

#documento .bfClearfix .control-group,
#nombrecodigo .bfClearfix .control-group{
    margin-bottom:0;
}


.picker__header img{
    display: none;
}

.picker__header .picker__select--month,
.picker__header .picker__select--year,
.picker__nav--next,
.picker__nav--prev{
    display: inline-block;
}


.picker__header .picker__nav--next,
.picker__header .picker__nav--prev{
    display:block;
    height:40px!important;
}

#fechareincorporacion .input-append input,
#fechasdescanso .input-append input{
    max-width:80%;
    border: 1px solid #d8d8d8;
}

#fechareincorporacion #bfElemWrap377{
    width:50%;
}


#botonesinferiores .bfElemWrap,
#botonesinferiores #cancelar{
    float:right;
}

#botonesinferiores #cancelar{
    margin-left: 20px;
    margin-right: 10px;
    margin-top:4px;
}


.bfMaxLengthCounter{
    color:#ccc;
    font-size:12px;
}


.block{
    float:left;
    padding:10px;
    width:50%;
}

.clear{
    clear:both;
}


/* Responsive */

@media (max-width:768px){

    #tipodescanso label,
    #fechasdescanso .row-fluid .span6,
    #datosarea .row-fluid .span6,
    #datospersonales .row-fluid .span6,
    #cabecera .row-fluid .bfClearfix > *{
        width:100%;
        margin-left:0;
    }
    #fechareincorporacion .row-fluid .control-group{
        width: 100%!important;
    }
    #tipodescanso label{
        margin-left:20px;
    }
    #tipodescanso input{
        margin-left:-18px;
    }
}